img {
  margin: 20px 0;
  max-width: 200px;
}

body {
  padding-top: 54px;
}

.room-card {
  margin-top: 20px;
  margin-bottom: 40px;
  margin-left: 40px;
  margin-right: 20px;
  min-height: 104px;
}
.key-card {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 40px;
  margin-right: 20px;
  min-height: 68px;
  border-color: #241C1C;
  text-align: center;
}
.time-dropdown {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.nav-bar {
  background-color: #8CB8D7;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.portfolio-item {
  margin-bottom: 30px;
}

.pagination {
  margin-bottom: 30px;
}

.room-state-booked {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    background-color: #ef7777;
}

.room-state-not-booked {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  background-color: #86E965;
}

.room-state-not-booked-occupied {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  background-color: #fff65f;
}

.room-state-booked-not-occupied {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  background-color: #f9b31d;
}

.key-legend {
  background-color: rgb(250, 249, 242);
  border-radius: 5px;
}
.bottom {
  border-bottom: 0.5px solid #DBD6D6;
} 