:root {
  --BookedAndOccupied: #ef7777;
  --BookedAndVacant: #f9b31d;
  --NotBookedAndOccupied: #fff65f;
  --NotBookedAndVacant: #86E965;
}

img {
  margin: 20px 0;
  max-width: 200px;
}

body {
  padding-top: 54px;
}

.room-header {
  position: absolute;
  top: 0;
  text-align: center;
  font-size: 450%;
  width: 100%;
  background-color: #343a40;
}

.clock {
  margin-top: 7%;
  text-align: center;
  font-size: 300%;
}

.meeting-block {
  display: inline-block;
  border-right: 1px solid white;
  padding: 5px;
  height: 150px;
}

.room-timeline {
  margin-top: 3%;
  overflow: auto;
  white-space: nowrap;
}

.next-avail {
  text-align: center;
  margin-top: 3%;
}

.room-card {
  margin: 20px 20px 40px 40px;
  min-height: 104px;
}

.time-dropdown {
  margin: auto;
  width: 50%;
  padding: 10px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.portfolio-item {
  margin-bottom: 30px;
}

.pagination {
  margin-bottom: 30px;
}

.room-state-booked {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    background-color: var(--BookedAndOccupied);
}

.room-state-not-booked {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  background-color: var(--NotBookedAndVacant);
}

.room-state-not-booked-occupied {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  background-color: var(--NotBookedAndOccupied);
}

.room-state-booked-not-occupied {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  background-color: var(--BookedAndVacant);
}