img {
  margin: 20px 0;
  max-width: 200px;
}

body {
  padding-top: 54px;
}

.room-container {
  margin-top: 50px;
  margin-left: 30px !important;
  margin-right: 30px !important;
}

.room-card {
  margin-top: 20px;
  margin-bottom: 40px;
  margin-left: 40px;
  margin-right: 20px;
  min-height: 104px;
}
.key-card {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 40px;
  margin-right: 20px;
  min-height: 68px;
  border-color: #241C1C;
  text-align: center;
}
.time-dropdown {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.nav-bar {
  background-color: #0070CD;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.portfolio-item {
  margin-bottom: 30px;
}

.pagination {
  margin-bottom: 30px;
}

.key-legend {
  background-color: rgb(250, 249, 242);
  border-radius: 5px;
}
.bottom {
  border-bottom: 0.5px solid #DBD6D6;
} 

.conference-rooms {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 50px;
  margin-left: 30px !important;
  margin-right: 30px !important;
}

.slalom-card-body {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 10px;
  margin-right: 10px;
}
.slalom-card-booked {
  font-family: helvetica !important;
  min-width: 55% !important;
  margin-bottom: 30px !important;
  border-color:  #E02F29 !important;
}

.slalom-card-open {
  font-family: helvetica !important;
  min-width: 55%;
  margin-bottom: 30px;
  border-color: #7DE859 !important;
}
.slalom-card-header-open {
  background-color: #7DE859 !important;
  color: white !important;
}
.slalom-card-header-booked {
  background-color:  #E02F29 !important;
  color: white !important;
}
.slalom-card-header-booked-vacant {
  background-color:  #ff803a !important;
  color: white !important;
}
.slalom-card-header-open-occupied {
  background-color:  #FAE566 !important;
  color: white !important;
}

.slalom-card-open-occupied {
  font-family: helvetica !important;
  min-width: 55%;
  margin-bottom: 30px;
  border-color: #FAE566!important;
}
.slalom-card-booked-vacant {
  font-family: helvetica !important;
  min-width: 55%;
  margin-bottom: 30px;
  border-color: #ff803a !important;
}

.occupied {
  float: right;
  color: grey;
}